#albumImage {
/* width: 620px; */
margin-bottom: 10px;
}

#albumImage img {
/* display: block; */
margin: auto;
}

#thumbWrapper {
float: right;
margin-top: 64px;
/* width: 220px; */
/* overflow: auto; */
}

#thumbList {
/* white-space: nowrap; */
margin: 0px;
-webkit-columns: 80px 3; /* Chrome, Safari, Opera */
-moz-columns: 80px 3; /* Firefox */
columns: 80px 3;
	
-webkit-column-gap: 8px; /* Chrome, Safari, Opera */
-moz-column-gap: 8px; /* Firefox */
column-gap: 8px;
}

#thumbList li {
list-style-type: none;
padding: 0px 0px 8px 0px;
cursor: pointer;
}

#thumbList li:hover {
opacity: 0.5;
}